* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h6 {
    font-size: calc(13px + 1*(100vw - 320px) / 1600);
    line-height: 1.2;
    margin: 0;
    font-weight: 400;
}

ul, li{
    list-style: none;
}

:root {
    --theme-color: #0baf9a;
}

/* header css start */
.header-top {
    padding: 10px 0;
    background-color: var(--theme-color);
}

.header-top .main-header {
    display: flex;
    justify-content: space-between;
}

/* get in app css start */

.header-top .top-left-header {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-top .top-left-header svg {
    font-size: 18px;
    margin-right: 5px;
}

.header-top .top-left-header span {
    margin-top: 1px;
    font-weight: 500;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: #fff;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button.selected {
    background-color: #646cff;
}